body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(4, 171, 91, 0.25) 0%,
    rgba(55, 166, 246, 0.25) 74%
  );
}

#nav-bar {
  display: flex;
  display: -ms-flexbox;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 100vw;
  background: rgb(241, 241, 241);
  z-index: 1000;
}

#header-img {
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
  margin-right: 128px;
}

a {
  text-decoration: none;
}

.nav-link {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-left: 24px;
  color: rgb(14, 14, 14);
}

.banner-match {
  display: flex;
  position: relative;
  top: 110px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 250px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.submit-title {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #fafafa;
}

#email {
  height: 40px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  color: rgb(14, 14, 14);
  padding: 0 16px;
  margin-bottom: 24px;
  border: 3px solid #4468e7;
}

#email:hover {
  border: 3px solid #37a6f6;
}

#submit {
  display: flex;
  padding: 8px 16px;
  background: #4468e7;
  box-shadow: 0px 7px 15px rgba(44, 155, 235, 0.4);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #fafafa;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}

#submit:hover {
  background: #2747bb;
}

.title-icon {
  display: flex;
  margin-left: 128px;
  align-items: center;
}

.title-community {
  font-family: "Fredoka One", cursive;
  font-weight: 400;
  font-size: 30px;
  margin-left: 16px;
}

#video {
  margin-top: 160px;
}

.main-content {
  margin-left: 128px;
  margin-right: 128px;
}

.content-video {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 64px;
}

.line-divisor {
  display: flex;
  width: 100%;
  height: 2px;
  position: relative;
  background: rgba(68, 68, 68, 0.404);
}

.card-contributor {
  height: 347px;
  width: 481px;
}
